html {
background: linear-gradient(41deg, #22e878, #0b91ff);
background-size: 400% 400%;
font-family: monospace;
-o-animation: AnimationName 22s ease infinite;
animation: AnimationName 22s ease infinite;
@-o-keyframes AnimationName {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}
@keyframes AnimationName {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
 }
}

.header{
  text-align: center;
}
.surprisemebutton{
  font-size: 80px;
  text-align: center;
  padding: 10%;
  border: 10px;
}
#restaurantid{
  padding: 5%;
  border: 5px  #ff2667;
  background: linear-gradient(342deg, #d8ecff, #9ca6dd, #b69ae4, #a8e4d5, #bfeacc);
  background-size: 1000% 1000%;
  animation: NameAnimation 35s ease infinite;
}

#entertainmentid{
  padding: 5%;
  border: 5px  #ff2667;
  background: linear-gradient(342deg, #d8ecff, #9ca6dd, #b69ae4, #a8e4d5, #bfeacc);
  background-size: 1000% 1000%;
  animation: NameAnimation 40s ease infinite;
}

@keyframes NameAnimation {
    0%{background-position:2% 0%}
    50%{background-position:99% 100%}
    100%{background-position:2% 0%}
}

.result{
float:left;
margin:10%;
}

.iframeapi{
  float:right;
  margin:10%;
}
