html {
  background: linear-gradient(313deg, #d4eaff, #e3ffd4, #fcffd4, #d4cdfb, #a9d1ff);
  background-size: 1000% 1000%;

  animation: NameAnimation 30s ease infinite;
}

@keyframes SelectionAnimation {
    0%{background-position:0% 0%}
    50%{background-position:93% 100%}
    100%{background-position:0% 0%}
}

.header{
  text-align: center;
}
#surprisemebutton{
  font-size: 6em;
  text-align: center;
  border: 10px;
}

#restaurantid{
  margin:left;
  text-decoration: none;
}

.anchors{
  font-family: 'Text Me One', sans-serif;
  font-size: 60px;
  border-radius: 30px;
  border: 5px double #000000;
  background: linear-gradient(342deg, #d8ecff, #9ca6dd, #b69ae4, #a8e4d5, #bfeacc);
  background-size: 1000% 1000%;
  animation: NameAnimation 35s ease infinite;
  color: white;
  margin-bottom: 1em;

}

#entertainmentid{
  margin:right;
  text-decoration: none;


}

@keyframes NameAnimation {
    0%{background-position:2% 0%}
    50%{background-position:99% 100%}
    100%{background-position:2% 0%}
}

.result{
  float:left;
  flex-wrap: wrap;
}

.iframeapi{
  flex: auto;
  flex-wrap: wrap;
}

.buttons{
  margin-left: 37%;
  margin-right: 37%;
}

.fixed{
  float: left;
  width: 65%;
  height: 100%;
  margin-right: 3%;
}

iframe#map{
  height: 100%;
  width: 100%;
}

img {
  height: 70%;
  width: 70%;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
}
