html {
background: linear-gradient(41deg, #22e878, #0b91ff);
background-size: 400% 400%;

-o-animation: AnimationName 22s ease infinite;
animation: AnimationName 22s ease infinite;


@-o-keyframes AnimationName {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}
@keyframes AnimationName {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
 }
}

html{
  font-family: monospace;

}

body{

}
.header{
  text-align: center;

}
.surprisemebutton{
  font-size: 80px;
  text-align: center;
  padding: 10%;
  border: 10px;
}
#restaurantid{
  padding: 5%;
  border: 5px  #ff2667;
}

#entertainmentid{
  padding: 5%;
  border: 5px  #ff2667;
}

.result{
float:left;
margin:10%;
}

.iframeapi{
  float:right;
  margin:10%;
}
