<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/Users/cssi/Desktop/surpriseme/css/style.css">

  </head>
  <body>
    <div class="header">
      <h1>Surprise Me!</h1>
  </div>
   <div class="">
  <div class="surprisemebutton">
    <button id="restaurantid"type="button"><a href="restaurant.html">Food Me</a></button>
    <button id="entertainmentid"type="button"><a href="entertainment.html">Enterntain Me</a></button>
  </div>
</div>
  </body>
</html>
